.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}
.image {
    border-radius: 10px;
    margin-top: 20px;
}

.columns {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 30px;
}
