.container{
  position: relative;
}


.block {
  position: relative;
}

.btn {
  position: absolute;
  right: 0px;
  bottom: 16px;
}

.tooltip {
  background-color: grey;
  color: #fff;
  position: absolute;
  top: 50px;
  right: 100px;
}
